.footer{
    font-size: 16px;
    background: #27272b;
    padding: 8em 0;
}
.footer__widget {
  h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 24px;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
  }
  .social__media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    a i{
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #fff;
    }
  }
}
